.DropDown{
    margin-top: 10px;
    text-align: left;
    font-size: 15px;
    position: relative;
}

.DropDown .DropDownBtn{
    width: 40%;
    height: 25px;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 2px;
    border: solid #E5E5E5 1px;
    padding-top: 5px;
    text-align: center;
    color: #656566;
    cursor: pointer;
}

.DropDown .DropDownContent{
    position: absolute;
    top: 105%;
    width: 36.4%;
    height: 50px;
    padding: 10px;
    background: #fff;
    border: solid #E5E5E5 1px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 2px;
    color: #656566;
}

.DropDown .DropDownContent .DropDownItens{
    cursor: pointer;
    margin-top: -3px;
    margin-bottom: 2px;
    padding: auto;
    text-align: center;
    transition: all 0.5;
}

.DropDown .DropDownContent .DropDownItens:hover{
    background: #f4f4f4;
}