* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(234,243,253,1);
}

.container_login {
    position: absolute;
    width: 750px;
    height: 410px;
    background: rgb(255, 255, 255);
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.container_logo{
    width: 260px;
    height: 410px;
    background: rgba(50,93,238,1);
    top: 242px;
    left: 226px;
    display: grid;
    place-items: center;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.container_logo img{
    width: 140px; 
}

.center{
    position: absolute;
    width: 430px;
    height: 410px;
    background: rgb(255, 255, 255);
    transform: translateX(-20%) translateY(-50%);
    top: 50%;
    left: 50%;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.center_data{
    position: absolute;
    transform: translate(-50%, -50%);
    margin-right: -50%;
    top: 50%;
    left: 50%;
    width: 370px;
    height: 300px;
    background: rgb(255, 252, 252);
}

.center_data span{
    color: rgba(101,101,102,1);
    font-size: 21px;
    text-align: center;
}

.center_data .linha{
    margin-top: 7px;
    border: 1px solid #E1DCDC;
}

.center_data input{
    display: inline-block;
    width: 370px;
    height: 45px;
    background: rgba(225,219,219,1); 
    margin-top: 32px;
    border: none;
    outline-color: #656566;
    padding-left: 40px;

}

.center_data button{
  width: 370px;
  height: 56px;
  background: rgba(50,93,238,1);
  border-radius: 5px;
  margin-top: 32px;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 15px;
}

.center_data button:hover{
    background: #1830CF;
}

.center_data a{
   float: right;
   cursor: pointer;
   padding-top: 9px;
}

.ic_user{
    position: relative;
}

.ic_user i{
    font-size: 23px;
    color: #656566;
    position: absolute;
    left: 0;
    top: 4px;
    padding: 35px 8px;
}

.ic_password{
    position: relative;
}

.ic_password i{
    font-size: 23px;
    color: #656566;
    position: absolute;
    left: 0;
    top: 4px;
    padding: 35px 8px;
}

.center_data input:focus + i{
    color: rgba(50,93,238,1)
}