.card-body{
    background-color: #ffffff;
    border-radius: 5px;
    width: 310px;
    height: 360px;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.top{
    width: 100%;
    height: 105px;
    background-color: var(--light-blue-2);
    border-radius: 5px;
}

.top.open{
    background-color: var(--light-blue-1);
}
  
  .top h2{
    font-size: 22px;
    font-weight: 380;
    padding: 15px;
    padding-bottom: 0px;
    color: rgb(255, 255, 255);
  }
  
  .top h3{
    
    font-size: 15px;
    font-weight: 380;
    color: white;
    padding: 15px;
    padding-top: 0px;
  }
  
  hr.line{
    color: #D0D0D0;
    position:absolute;
    width: 310px;
  
  }
  
  .footer{
    height: 75px;
    position: relative;
    margin-top: 185px;
  }
  
  .footer h2.status{
    margin-top: 25px;
    margin-left: 32px;
    position: absolute;
    color: #7587B0;
    font-size: 15px;
    font-weight: 500;      
  }

  .footer h2.ano{
    font-weight: 500;
    color: #7587B0;
    position: absolute;
    font-size: 15px;
    margin: 25px 10px 100px 250px;
  }

.circle {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 30px 20px 1px 10px;
}
  
.circleOpen {
    background: green;
}

.circleClose{
    background: red;
}

.background_ano {
    position: absolute;
    width: 55px;
    height: 20px;
    left: 246px;
    top: 27px;
    background: var(--light-gray-3);
    border-radius: 5px;
    }

.icon {
  font-size: 20px;
  color: var(--white);
  position: absolute;
  margin: 10px 200px 1px 285px; 
    
}    

  