.modal-background {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container {
    width: 40vw;
    height: 100vh;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    padding: 25px;
}

.modal-container .modal-top {
    width: 100%;
    display: flex;
    margin-top: 2%;
    justify-content: space-between;
    border-bottom: 1px solid var(--light-gray-2);

}

.dropdown-container {
    margin-bottom: 3%;
}

.modal-container .modal-top span {
    font-size: 18px;
    font-weight: 500;
    color: var(--dark-gray-3);
}

.modal-container .close-buttom i {
    font-size: 25px;
    cursor: pointer;  
    color: var(--dark-gray-3); 
}

.questionnaire-conteiner {
    height: 80%;
    margin-top: 1%;
    min-height: 50%;
}

.modal-container span#questionnaire {
    font-size: 15px ;
    margin: 0;
    margin-top: 10px;
    color: var(--dark-gray-3);
}

.modal-container-body {
    border: 1px solid var(--light-gray-2);
    border-radius: 5px;
    margin-bottom: 3%;
    height: 41%;
    min-height: 30%;
    padding: 2px 7px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-container-body button {
    bottom: 0;
}

.questions-container p {
    font-size: 14px;
    color: var(--dark-gray-3);
    font-weight: 400;
}

.modal-container-bottom {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 2%;
}

.bot-button {
    display: flex;
    gap: 10px;
}

#cancel {
    border: 1px solid var(--dark-blue-3);
    color: var(--dark-blue-3);
}

#register {
    background: var(--dark-blue-3);
    color: white;
    border: 1px solid var(--dark-blue-3);
}