.top-bar-container {
    background: var(--light-gray-3);
    width: 100%;
    height: 55px;
    margin-bottom: 30px;
    display: flex;
    gap: 5px;
    border-bottom: 1px solid var(--light-gray);
}

.top-bar-container i, .top-bar-container p {
    margin: 15px 0px 0px 15px;
    font-size: 17px;
    font-weight: 500;
}

.top-bar-container i {
    color: var(--dark-blue-2);
    font-size: 22px;
    margin-top: 12px;
}

.top-bar-container p {
    color: var(--dark-gray-2);
}

.path{
    display: flex;
}

.top-bar-container .top-bar-button{
    margin-left: auto;
    margin-top: 8px;
    margin-right: 20px;
}

.top-bar-container .top-bar-button button{
    background: var(--white);
    border: 1px solid var(--light-gray-2);
    padding: 6px;
    color: var(--dark-gray-3);
    border-radius: 3px;
}

.top-bar-container .avatar {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
    margin-top: 5px;
    margin-right: 15px;
}

.top-bar-container .avatar img {
    max-width: 100%;
}