:root { /*setting up variables*/
  --dark-blue-1: #0116EB;
  --dark-blue-2: #1830CF;
  --dark-blue-3: #325DEE;
  --light-blue-1: #4A84E6;
  --light-blue-2: #65A2FE;
  --light-blue-3: #37A9FE;
  --dark-gray-1: #283049;
  --dark-gray-2: #3D4860;
  --dark-gray-3: #656566;
  --light-gray-1: #A4AAB6;
  --light-gray-2: #BCC2CB;
  --light-gray-3: #EBEEF4;
  --light-gray-4: #f2f4f7;
  --light-green-1: #178E51;
  --black: #050A1D;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

ul {
  margin: 0;
  padding: 0; 
}

li {
  list-style-type: none;
}

.container {
  margin-left: 300px;
  transition: margin-left .2s ease-in;
  padding: 30px;
  background: #E5E5E5;
}

.container.inactive {
  margin-left: 80px;
}
